/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "Aileron";
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  color: #717cff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: stretch;
  padding-top: 35px;
}

header .xpider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 406px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  color: #7e8085;
  padding-left: 68px;
  padding-right: 473px;
}

header ul a {
  text-decoration: none;
  color: #7e8085;
}

header ul li {
  margin-right: 35px;
  -webkit-transition: 1s;
  transition: 1s;
}

header ul li:hover {
  text-decoration: underline;
  font-size: 19px;
}

.hover {
  display: inline;
  margin: 0;
  padding: 0;
}

.hover a {
  color: #7e8085;
}

.hover li {
  display: inline-block;
}

.hover li:hover ul {
  display: block;
}

.hover li ul {
  position: absolute;
  width: 200px;
  display: none;
  margin-left: -80px;
}

.hover li ul li {
  background: #f6f7fa;
  display: block;
  padding: 15px;
  opacity: 0, 1;
}

.hover li ul li a {
  display: block !important;
}

.hover li ul li:hover {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 25px;
  background-color: #fc5c42;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

button {
  border: none;
  padding: none;
  background: none;
  cursor: pointer;
}

button.btn1 {
  padding: 13px 20px 13px 21px;
  border-radius: 5px;
  border: solid 2px #c9cdd5;
  justify-self: flex-start;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #7e8085;
}

button.btn1:hover {
  padding: 15px 22px 13px 23px;
  background-color: #2f5bea;
  color: white;
}

button.btn1:active {
  background-color: #879de6;
}

button.btn1:focus {
  outline: none;
}

button.btn2 {
  padding: 18px 36px 17px;
  border-radius: 5px;
  background-color: #2f5bea;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

button.btn2:focus {
  outline: none;
  background-color: #fc5c42;
}

button.btn2:hover {
  margin-top: -5px;
  margin-left: 5px;
}

button.btn2:active {
  background-color: #fc5c42;
}

button.btn3 {
  padding: 18px 44px 17px 45px;
  border-radius: 5px;
  border: solid 1px #c9cdd5;
  background-color: #ffffff;
  font-family: Aileron;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #54565a;
}

button.btn3:focus {
  outline: none;
}

button.btn3:hover {
  margin-top: -2px;
  margin-left: 2px;
}

button.btn4 {
  padding: 18px 36px 17px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #2f5bea;
}

button.btn4:focus {
  outline: none;
}

button.btn4:hover {
  padding: 23px 41px 22px;
  border-radius: 5px;
}

button.btn4:active {
  background-color: #c0cdf8;
}

.arrow {
  border: solid #7e8085;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: -10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .creativity {
  padding-left: 235px;
  padding-top: 142px;
  padding-right: 71px;
  width: 937px;
}

.hero .creativity img {
  width: 702px;
  height: 477px;
}

.hero .business {
  padding-top: 187px;
  width: 983px;
}

.hero .business h1 {
  font-size: 48px;
  font-weight: 900;
  color: #2c2e30;
  padding-bottom: 50px;
}

.hero .business p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  color: #7e8085;
}

.hero .business .started {
  padding-top: 33px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.hero .business .started h5 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.hero .business .started h5 a {
  font-size: 17px;
  font-weight: bold;
  color: #7e8085;
  padding-left: 24px;
  text-decoration: underline;
}

.hero .business .started p {
  padding-top: 13px;
  font-size: 14px;
  font-weight: normal;
  color: #7e8085;
}

.hero .business .started p a {
  font-weight: 600;
  color: #fc5c42;
  text-decoration: underline;
}

.creativity h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #2c2e30;
  padding-top: 191px;
  padding-bottom: 22px;
}

.creativity .kickstart {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #7e8085;
  padding-bottom: 69px;
}

.creativity .glide {
  padding-left: 115px;
  padding-right: 100px;
}

.creativity .tool {
  display: -ms-grid;
  display: grid;
  width: 300px;
  height: 200px;
}

.creativity .tool img {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-grid-column-align: center;
  justify-self: center;
}

.creativity .tool p {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: #2c2e30;
}

.creativity .tool2 {
  display: -ms-grid;
  display: grid;
  width: 300px;
  height: 200px;
}

.creativity .tool2 p {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: #2c2e30;
}

.creativity .tool2 .path1 {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-grid-column-align: center;
  justify-self: center;
}

.tool3 {
  display: -ms-grid;
  display: grid;
  width: 300px;
  height: 200px;
}

.tool3 p {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: #2c2e30;
}

.tool3 .path {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-grid-column-align: center;
  justify-self: center;
}

.build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.build img {
  padding-top: 27px;
  padding-left: 368px;
}

.build .describe {
  padding-left: 95px;
}

.build .describe h2 {
  font-family: "Aileron";
  font-size: 28px;
  font-weight: bold;
  color: #2c2e30;
  padding-top: 106px;
}

.build .describe ul {
  list-style: disc;
  padding-left: 25px;
}

.build .describe ul li {
  font-family: "Aileron";
  font-size: 16px;
  line-height: 1.75;
  color: #54565a;
  padding-bottom: 20px;
}

.build .describe p {
  font-family: "NotoSerif";
  font-size: 16px;
  font-style: italic;
  line-height: 1.75;
  color: #54565a;
  padding-bottom: 15px;
}

.build .describe span {
  font-family: "Aileron";
  font-size: 16px;
  font-weight: 600;
  color: #2c2e30;
}

.howWork {
  background-color: #f6f8f9;
}

.howWork h2 {
  font-family: "Aileron";
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #2c2e30;
  padding-top: 144px;
  padding-bottom: 22px;
}

.howWork p {
  font-family: "Aileron";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #7e8085;
  padding-bottom: 67px;
}

.howWork .glide2 .glide__track ul li {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.howWork .glide2 .glide__track ul li img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  padding-bottom: 34px;
}

.howWork .glide2 .glide__track ul li h3 {
  font-family: "Aileron";
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #2c2e30;
  padding-bottom: 11px;
}

.howWork .forGrowth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 140px;
}

.howWork .forGrowth .shutter {
  padding-right: 145px;
  padding-left: 280px;
  width: 686px;
  height: 431px;
}

.howWork .forGrowth .built h2 {
  text-align: start;
  padding-bottom: 38px;
}

.howWork .forGrowth .built p {
  text-align: start;
  padding-bottom: 25px;
}

.howWork .forGrowth .built .shorcuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
}

.howWork .forGrowth .built .shorcuts img {
  padding-right: 13px;
}

.howWork .forGrowth .built footer {
  font-family: "Aileron";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.89;
  color: #2f5bea;
  text-decoration: underline;
}

.uniqueBlock .unique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.uniqueBlock .unique img {
  padding-top: 170px;
}

.uniqueBlock .unique .block {
  padding-left: 405px;
  padding-right: 133px;
  padding-top: 217px;
}

.uniqueBlock .unique .block h2 {
  font-size: 34px;
  font-weight: bold;
  color: #2c2e30;
  padding-bottom: 38px;
}

.uniqueBlock .unique .block p {
  font-size: 16px;
  line-height: 1.75;
  color: #54565a;
  padding-bottom: 52px;
}

.uniqueBlock .unique .block footer {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.89;
  color: #2f5bea;
  text-decoration: underline;
}

.uniqueBlock .unique img:hover {
  margin-top: -100px;
  margin-left: 20px;
}

.uniqueBlock .hand {
  padding-left: 404px;
  padding-right: 416px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.uniqueBlock .hand h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #2c2e30;
  padding-top: 170px;
  padding-bottom: 22px;
}

.uniqueBlock .hand p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #7e8085;
  padding-bottom: 63px;
}

.uniqueBlock .hand .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.uniqueBlock .hand .boxes .box-1,
.uniqueBlock .hand .boxes .box-2,
.uniqueBlock .hand .boxes .box-3 {
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.08);
  box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.08);
  border: solid 1px #e7eaee;
  background-color: #ffffff;
  margin-right: 17px;
  padding: 11px 15px 12px 16px;
}

.uniqueBlock .hand .boxes .box-1 h5,
.uniqueBlock .hand .boxes .box-2 h5,
.uniqueBlock .hand .boxes .box-3 h5 {
  font-family: "NotoSerif";
  font-size: 16px;
  font-style: italic;
  line-height: 1.75;
  color: #7e8085;
  padding-bottom: 49px;
}

.uniqueBlock .hand .boxes .box-1 article,
.uniqueBlock .hand .boxes .box-2 article,
.uniqueBlock .hand .boxes .box-3 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.uniqueBlock .hand .boxes .box-1 img,
.uniqueBlock .hand .boxes .box-2 img,
.uniqueBlock .hand .boxes .box-3 img {
  width: 34px;
  height: 34px;
}

.uniqueBlock .hand .boxes .box-3 article {
  padding-top: 54px;
}

.uniqueBlock .hand .boxes .red {
  width: 69px;
  height: 56px;
  padding-top: 226px;
}

.uniqueBlock .hand .boxes .box-1:hover {
  margin-top: -10px;
  -webkit-box-shadow: 2px 2px 2px 2px #bfbbbb;
  box-shadow: 2px 2px 2px 2px #bfbbbb;
}

.uniqueBlock .hand .boxes .box-2:hover {
  margin-top: -10px;
  -webkit-box-shadow: 2px 2px 2px 2px #bfbbbb;
  box-shadow: 2px 2px 2px 2px #bfbbbb;
}

.uniqueBlock .hand .boxes .box-3:hover {
  margin-top: -10px;
  -webkit-box-shadow: 2px 2px 2px 2px #bfbbbb;
  box-shadow: 2px 2px 2px 2px #bfbbbb;
}

.uniqueBlock .testimonial {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.89;
  text-align: center;
  color: #2f5bea;
  text-decoration: underline;
  padding-top: 37px;
  padding-bottom: 127px;
}

.uniqueBlock .brands {
  padding-left: 432px;
  padding-right: 432px;
  padding-bottom: 134px;
}

.pricing {
  background-color: #f6f8f9;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.pricing h2 {
  font-family: "Aileron";
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #2c2e30;
  padding-top: 122px;
  padding-bottom: 22px;
}

.pricing p {
  font-family: "Aileron";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #7e8085;
}

.pricing .free-trail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 44px;
  padding-top: 66px;
}

.pricing .free-trail .trailone {
  padding: 29px 0 46px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
  box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
  border: solid 1px #e7eaee;
  background-color: #ffffff;
  margin-right: 28px;
  width: 382px;
  height: 428px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pricing .free-trail .trailone h1 {
  font-family: "NotoSerif";
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #2f5bea;
}

.pricing .free-trail .trailone article {
  font-family: "Aileron";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #7e8085;
  padding-bottom: 34px;
}

.pricing .free-trail .trailone .hrline {
  border-top: 1px solid #e7eaee;
}

.pricing .free-trail .trailone p {
  font-family: "Aileron";
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #7e8085;
  padding-top: 30px;
  padding-bottom: 24px;
}

.pricing .free-trail .trailone:hover {
  padding: 33px 5px 49px;
  -webkit-box-shadow: 2px 2px 2px 2px #5b7ce8;
  box-shadow: 2px 2px 2px 2px #5b7ce8;
}

.pricing .free-trail .trailtwo {
  padding: 29px 0 46px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
  box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
  border: solid 1px #e7eaee;
  background-color: #2f5bea;
  margin-right: 28px;
  width: 382px;
  height: 428px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pricing .free-trail .trailtwo h1 {
  font-family: "NotoSerif";
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #e7eaee;
}

.pricing .free-trail .trailtwo article {
  font-family: "Aileron";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #e7eaee;
  padding-bottom: 34px;
}

.pricing .free-trail .trailtwo .hrline {
  border-top: 1px solid #2f5bea;
}

.pricing .free-trail .trailtwo p {
  font-family: "Aileron";
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #e7eaee;
  padding-top: 30px;
  padding-bottom: 24px;
}

.pricing .free-trail .trailtwo .btn3 {
  color: #2f5bea;
}

.pricing .free-trail .trailtwo:hover {
  padding: 33px 5px 49px;
  -webkit-box-shadow: 2px 2px 2px 2px #c1cae6;
  box-shadow: 2px 2px 2px 2px #c1cae6;
}

.pricing a {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.89;
  text-align: center;
  color: #2c2e30;
  padding-bottom: 126px;
}

.pricing .imgblue {
  position: absolute;
  width: 158px;
  height: 153px;
  left: 463px;
  top: 295px;
  mix-blend-mode: normal;
  opacity: 0.13;
}

.forFree {
  background-image: url("./styles/img/Group 2.png");
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 133px;
}

.forFree h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding-top: 111px;
  padding-bottom: 22px;
}

.forFree p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #ffffff;
  padding-bottom: 27px;
}

.information a {
  text-decoration: none;
  color: #54565a;
}

.information .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information .info .logo {
  width: 47px;
  height: 41px;
  position: relative;
  left: 406px;
  top: 155px;
}

.information .info .logo2 {
  width: 608px;
  height: 585px;
  opacity: 0.4;
  padding-right: 177px;
}

.information .info ul {
  font-size: 18px;
  font-weight: bold;
  color: #2c2e30;
  padding-top: 140px;
}

.information .info ul h5 {
  padding-bottom: 20px;
}

.information .info ul li {
  font-size: 16px;
  line-height: 2.44;
  color: #54565a;
  margin-right: 174px;
}

.information .info ul li:hover {
  text-decoration: underline;
}

.information footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 405px 23px;
  background-color: #f6f8f9;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.information footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  padding-right: 503px;
  color: #54565a;
}

.information footer ul li {
  margin-right: 30px;
}

.information footer .lang {
  padding-right: 14px;
  width: 22px;
  height: 13px;
}

.information footer select option {
  font-size: 14px;
  font-weight: bold;
  color: #54565a;
}

.information footer select:focus {
  outline: none;
}

.information .social {
  padding-left: 29px;
}

*div,
header {
  border: 1px solid red;
}
/*# sourceMappingURL=styles.css.map */
