.howWork {
  background-color: #f6f8f9;

  h2 {
    font-family: "Aileron";
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #2c2e30;
    padding-top: 144px;
    padding-bottom: 22px;
  }
  p {
    font-family: "Aileron";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.89;
    text-align: center;
    color: #7e8085;
    padding-bottom: 67px;
  }
  .glide2 {
    .glide__track {
      ul {
        li {
          display: grid;
          justify-content: center;
          align-items: center;
          img {
            align-self: center;
            justify-self: center;
            padding-bottom: 34px;
          }
          h3 {
            font-family: "Aileron";
            font-size: 21px;
            font-weight: bold;
            text-align: center;
            color: #2c2e30;
            padding-bottom: 11px;
          }
        }
      }
    }
  }
  .forGrowth {
    display: flex;
    padding-top: 140px;

    .shutter {
      padding-right: 145px;
      padding-left: 280px;
      width: 686px;
      height: 431px;
    }

    .built {
      h2 {
        text-align: start;
        padding-bottom: 38px;
      }
      p {
        text-align: start;
        padding-bottom: 25px;
      }
      .shorcuts {
        display: flex;
        padding-bottom: 25px;

        img {
          padding-right: 13px;
        }
      }
      footer {
        font-family: "Aileron";
        font-size: 18px;
        font-weight: bold;
        line-height: 1.89;
        color: #2f5bea;
        text-decoration: underline;
      }
    }
  }
}
