.pricing {
  background-color: #f6f8f9;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pricing h2 {
  font-family: "Aileron";
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #2c2e30;
  padding-top: 122px;
  padding-bottom: 22px;
}

.pricing p {
  font-family: "Aileron";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #7e8085;
}

.pricing .free-trail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 44px;
  padding-top: 66px;
}

.pricing .free-trail .trailone {
  padding: 29px 0 46px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
          box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
  border: solid 1px #e7eaee;
  background-color: #ffffff;
  margin-right: 28px;
  width: 382px;
  height: 428px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .free-trail .trailone h1 {
  font-family: "NotoSerif";
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #2f5bea;
}

.pricing .free-trail .trailone article {
  font-family: "Aileron";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #7e8085;
  padding-bottom: 34px;
}

.pricing .free-trail .trailone .hrline {
  border-top: 1px solid #e7eaee;
}

.pricing .free-trail .trailone p {
  font-family: "Aileron";
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #7e8085;
  padding-top: 30px;
  padding-bottom: 24px;
}

.pricing .free-trail .trailone:hover {
  padding: 33px 5px 49px;
  -webkit-box-shadow: 2px 2px 2px 2px #5b7ce8;
          box-shadow: 2px 2px 2px 2px #5b7ce8;
}

.pricing .free-trail .trailtwo {
  padding: 29px 0 46px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
          box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
  border: solid 1px #e7eaee;
  background-color: #2f5bea;
  margin-right: 28px;
  width: 382px;
  height: 428px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .free-trail .trailtwo h1 {
  font-family: "NotoSerif";
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #e7eaee;
}

.pricing .free-trail .trailtwo article {
  font-family: "Aileron";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  text-align: center;
  color: #e7eaee;
  padding-bottom: 34px;
}

.pricing .free-trail .trailtwo .hrline {
  border-top: 1px solid #2f5bea;
}

.pricing .free-trail .trailtwo p {
  font-family: "Aileron";
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #e7eaee;
  padding-top: 30px;
  padding-bottom: 24px;
}

.pricing .free-trail .trailtwo .btn3 {
  color: #2f5bea;
}

.pricing .free-trail .trailtwo:hover {
  padding: 33px 5px 49px;
  -webkit-box-shadow: 2px 2px 2px 2px #c1cae6;
          box-shadow: 2px 2px 2px 2px #c1cae6;
}

.pricing a {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.89;
  text-align: center;
  color: #2c2e30;
  padding-bottom: 126px;
}

.pricing .imgblue {
  position: absolute;
  width: 158px;
  height: 153px;
  left: 463px;
  top: 295px;
  mix-blend-mode: normal;
  opacity: 0.13;
}
/*# sourceMappingURL=pricing.css.map */