.creativity {
  h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #2c2e30;
    padding-top: 191px;
    padding-bottom: 22px;
  }
  .kickstart {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.89;
    text-align: center;
    color: #7e8085;
    padding-bottom: 69px;
  }

  .glide {
    padding-left: 115px;
    padding-right: 100px;
  }

  .tool {
    display: grid;
    width: 300px;
    height: 200px;

    img {
      align-self: flex-end;
      justify-self: center;
    }
    p {
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      color: #2c2e30;
    }
  }

  .tool2 {
    display: grid;
    width: 300px;
    height: 200px;

    p {
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      color: #2c2e30;
    }

    .path1 {
      align-self: flex-end;
      justify-self: center;
    }
  }
}
.tool3 {
  display: grid;
  width: 300px;
  height: 200px;

  p {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #2c2e30;
  }

  .path {
    align-self: flex-end;
    justify-self: center;
  }
}
