.hero {
  display: flex;

  .creativity {
    padding-left: 235px;
    padding-top: 142px;
    padding-right: 71px;
    width: 937px;
    img {
      width: 702px;
      height: 477px;
    }
  }
  .business {
    padding-top: 187px;
    width: 983px;
    h1 {
      font-size: 48px;
      font-weight: 900;
      color: #2c2e30;
      padding-bottom: 50px;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.89;
      color: #7e8085;
    }
    .started {
      padding-top: 33px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      h5 {
        align-self: center;
        a {
          font-size: 17px;
          font-weight: bold;
          color: #7e8085;
          padding-left: 24px;
          text-decoration: underline;
        }
      }
      p {
        padding-top: 13px;
        font-size: 14px;
        font-weight: normal;
        color: #7e8085;
        a {
          font-weight: 600;
          color: #fc5c42;
          text-decoration: underline;
        }
      }
    }
  }
}
