header {
  display: flex;
  justify-items: stretch;
  padding-top: 35px;

  .xpider {
    display: flex;
    padding-left: 406px;
    justify-items: center;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #7e8085;
    padding-left: 68px;
    padding-right: 473px;

    a {
      text-decoration: none;
      color: #7e8085;
    }

    li {
      margin-right: 35px;
      transition: 1s;
    }

    li:hover {
      text-decoration: underline;
      font-size: 19px;
    }
  }
}

.hover {
  display: inline;
  margin: 0;
  padding: 0;

  a {
    color: #7e8085;
  }
}
.hover li {
  display: inline-block;
}
.hover li:hover ul {
  display: block;
}
.hover li ul {
  position: absolute;
  width: 200px;
  display: none;
  margin-left: -80px;
}
.hover li ul li {
  background: #f6f7fa;
  display: block;
  padding: 15px;
  opacity: 0, 1;
}
.hover li ul li a {
  display: block !important;
}
.hover li ul li:hover {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 25px;
  background-color: #fc5c42;
  transition-duration: 1s;
}
