.uniqueBlock {
  .unique {
    display: flex;

    img {
      padding-top: 170px;
    }
    .block {
      padding-left: 405px;
      padding-right: 133px;
      padding-top: 217px;
      h2 {
        font-size: 34px;
        font-weight: bold;
        color: #2c2e30;
        padding-bottom: 38px;
      }
      p {
        font-size: 16px;
        line-height: 1.75;
        color: #54565a;
        padding-bottom: 52px;
      }
      footer {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.89;
        color: #2f5bea;
        text-decoration: underline;
      }
    }

    img:hover {
      margin-top: -100px;
      margin-left: 20px;
    }
  }

  .hand {
    padding-left: 404px;
    padding-right: 416px;
    display: grid;
    justify-content: center;
    h2 {
      font-size: 34px;
      font-weight: bold;
      text-align: center;
      color: #2c2e30;
      padding-top: 170px;
      padding-bottom: 22px;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.89;
      text-align: center;
      color: #7e8085;
      padding-bottom: 63px;
    }
    .boxes {
      display: flex;

      .box-1,
      .box-2,
      .box-3 {
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.08);
        border: solid 1px #e7eaee;
        background-color: #ffffff;
        margin-right: 17px;
        padding: 11px 15px 12px 16px;

        h5 {
          font-family: "NotoSerif";
          font-size: 16px;
          font-style: italic;
          line-height: 1.75;
          color: #7e8085;
          padding-bottom: 49px;
        }

        article {
          display: flex;
        }
        img {
          width: 34px;
          height: 34px;
        }
      }
      .box-3 {
        article {
          padding-top: 54px;
        }
      }
      .red {
        width: 69px;
        height: 56px;
        padding-top: 226px;
      }
      .box-1:hover {
        margin-top: -10px;
        box-shadow: 2px 2px 2px 2px rgb(191, 187, 187);
      }
      .box-2:hover {
        margin-top: -10px;
        box-shadow: 2px 2px 2px 2px rgb(191, 187, 187);
      }
      .box-3:hover {
        margin-top: -10px;
        box-shadow: 2px 2px 2px 2px rgb(191, 187, 187);
      }
    }
  }
  .testimonial {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.89;
    text-align: center;
    color: #2f5bea;
    text-decoration: underline;
    padding-top: 37px;
    padding-bottom: 127px;
  }
  .brands {
    padding-left: 432px;
    padding-right: 432px;
    padding-bottom: 134px;
  }
}
